{
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "none",
  " jsxSingleQuote": true,
  " bracketSpacing": true,
  " arrowParens": "avoid"
}
